@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.media {
  position: absolute;
  color: #d3d3d3 !important;
  cursor: pointer !important;
  transition: color 0.3s ease, transform 0.3s ease;
}

.media:hover {
  color: #72a0c1 !important;
  transform: scale(1.1);
}

@layer utilities {
  .gradient-border {
    border-width: 4px;
    border-style: solid;
    border-radius: 1rem;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #72a0c1, #a3c1ad);
  }
}
